.centering_div {
    margin: auto;
    width: 97%;
  }

.separation_div{
    height: 25px;

}

.footer{
    padding: 2px;
}

.Select-control {
    background-color: rgba(0, 0, 0) !important;
  }

.Select-value-label {
    color: rgb(173, 173, 169) !important;
}

.Select-menu-outer {
    background-color:rgba(0, 0, 0) !important;
    color: rgb(173, 173, 169) !important;
}

.graph-background{
    background-color:rgba(0, 0, 0) !important;
}